<div class="news">
  {% if site.news != blank %}
    {% assign news_size = site.news | size %}
    {% assign raw_news = site.news | reverse %}
    {% assign news = raw_news %}
    {% if include.limit and page.announcements.limit %}
      {% assign news_limit = page.announcements.limit %}
    {% else %}
      {% assign news_limit = news_size %}
    {% endif %}
    {% assign news_container_class = 'table-responsive' %}
    {% if include.limit and page.announcements.scrollable and news_limit > 3 and news_size > news_limit %}
      {% assign news_container_class = news_container_class | append: ' news-table-scrollable' %}
    {% endif %}
    <div class="{{ news_container_class }}">
      <table class="table table-sm table-borderless">
        {% assign counter = 0 %}
        {% for item in news %}
          {% assign counter = counter | plus: 1 %}
          {% if counter > news_limit %}
            {% break %}
          {% endif %}
          <tr>
            <th scope="row" class="news-date-cell">
              <span class="news-date">{{ item.date | date: '%b %-d, %Y' }}</span>
            </th>
            <td>
              <div class="news-item">
                {% if item.inline %}
                  <span>{{ item.content | markdownify | remove: '<p>' | remove: '</p>' | emojify }}</span>
                {% else %}
                  <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                {% endif %}
              </div>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
