<div class="list-groups">
  {% for content in entry.contents %}
    <div class="list-group col-md-6">
      <table class="table-cv list-group-table">
        <tbody>
          {% assign colspan = 1 | plus: content.items.size %}
          {% include shared/list_group_header.liquid title=content.category icon=content.icon colspan=colspan %}
          {% for item in content.items %}
            <tr>
              <td></td>
              <td class="list-group-name">
                <b>{{ item.name }}</b>
              </td>
              {% if item.level %}
                <td class="list-group-level">{{ item.level }}</td>
              {% endif %}
              {% if item.school %}
                <td class="list-group-school">{{ item.school }}
              {% endif %}
              {% if item.time %}
                <br>
                <span class="list-group-time">{{ item.time }}</span>
                </td>
              {% else %}
                </td>
              {% endif %}
              {% if item.link %}
                <td class="list-group-link">
                  <a href="{{ item.link }}" target="_blank" class="btn btn-sm btn-glass z-depth-0">
                    {% if item.linkname %}{{ item.linkname }}{% else %}DOC{% endif %}
                  </a>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endfor %}
</div>
